# gitignore - we don't want swap files from editors
*.swp
*~
# no generated html or pdf files
*.html
*.pdf
# these are generated
*toc.pod
*toc.txt
# no temp files from pod2html
*.tmp
# tmp mac finder dirs
*DS_Store
